body {
  background-image: url("mainMenu.png");
}

h1 {
  font-weight: bold;
  font-size: 600%;
  font-family: 'Babylonica', cursive;
}

.button{
  font-weight: bold;
  font-size: 400%;
  font-family: 'Babylonica', cursive;
  color: black;
  text-decoration: none;
}
